.gallery {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  max-width: 1128px;
  /* justify-content: center; */
  /* align-items: center; */
}

.gallery-img {
  display: block;
  width: 360px;
  height: 300px;
}
